In [155]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter("ignore")

In [156]:
pd.set_option("display.max_columns",None)
pd.set_option("display.max_rows",100)

In [157]:
df = pd.read_csv("House_Rent_Train.csv")

## 1. Data Cleaning

In [158]:
df

,id,type,locality,activation_date,latitude,longitude,lease_type,gym,lift,swimming_pool,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,amenities,water_supply,building_type,balconies,rent
0,ff8081815733a243015733b2876600a6,BHK2,NaN,21-04-2018 14:44,12.934471,77.634471,FAMILY,1,1,1,0,SEMI_FURNISHED,BOTH,1250,25.0,2.0,E,2.0,6.0,12.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":true,""AC"":f...",CORP_BORE,AP,2.0,40000.0
1,ff8081815ee25e15015ee50004da2acd,BHK2,Bellandur,9/10/2017 12:48,12.929557,77.672280,ANYONE,0,1,0,1,SEMI_FURNISHED,BOTH,1400,4.0,2.0,NE,2.0,3.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORPORATION,AP,2.0,22000.0
2,ff80818163f29c9e0163f46770b873e7,BHK3,Thiruvanmiyur,12/6/2018 22:02,12.982870,80.262012,FAMILY,0,1,0,0,SEMI_FURNISHED,BOTH,1350,6.0,3.0,E,3.0,1.0,5.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORP_BORE,AP,3.0,28000.0
3,ff80818164b68a700164b74b1b247a1d,BHK1,Attiguppe,20-07-2018 16:22,12.955991,77.531634,FAMILY,0,0,0,1,SEMI_FURNISHED,TWO_WHEELER,600,3.0,1.0,E,1.0,1.0,2.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,0.0,8000.0
4,ff80818163b1faf00163b4b9b8a163b1,BHK3,Kodihalli,31-05-2018 17:41,12.963903,77.649446,FAMILY,0,0,0,1,SEMI_FURNISHED,BOTH,1500,15.0,3.0,E,4.0,0.0,0.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,1.0,45000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20550,19,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1,SEMI_FURNISHED,BOTH,1650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20551,20,BHK2,NaN,NaN,NaN,NaN,NaN,0,0,0,1,SEMI_FURNISHED,BOTH,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20552,21,BHK2,NaN,NaN,NaN,NaN,NaN,1,1,0,1,SEMI_FURNISHED,BOTH,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20553,22,BHK2,NaN,NaN,NaN,NaN,NaN,0,1,0,0,SEMI_FURNISHED,BOTH,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20554,23,BHK1,NaN,NaN,NaN,NaN,NaN,0,0,0,1,SEMI_FURNISHED,TWO_WHEELER,500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

--id column is not a important column so I am droping the column from the dataset

In [159]:
df = df.drop("id",axis = 1)

In [160]:
df

,type,locality,activation_date,latitude,longitude,lease_type,gym,lift,swimming_pool,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,amenities,water_supply,building_type,balconies,rent
0,BHK2,NaN,21-04-2018 14:44,12.934471,77.634471,FAMILY,1,1,1,0,SEMI_FURNISHED,BOTH,1250,25.0,2.0,E,2.0,6.0,12.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":true,""AC"":f...",CORP_BORE,AP,2.0,40000.0
1,BHK2,Bellandur,9/10/2017 12:48,12.929557,77.672280,ANYONE,0,1,0,1,SEMI_FURNISHED,BOTH,1400,4.0,2.0,NE,2.0,3.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORPORATION,AP,2.0,22000.0
2,BHK3,Thiruvanmiyur,12/6/2018 22:02,12.982870,80.262012,FAMILY,0,1,0,0,SEMI_FURNISHED,BOTH,1350,6.0,3.0,E,3.0,1.0,5.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORP_BORE,AP,3.0,28000.0
3,BHK1,Attiguppe,20-07-2018 16:22,12.955991,77.531634,FAMILY,0,0,0,1,SEMI_FURNISHED,TWO_WHEELER,600,3.0,1.0,E,1.0,1.0,2.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,0.0,8000.0
4,BHK3,Kodihalli,31-05-2018 17:41,12.963903,77.649446,FAMILY,0,0,0,1,SEMI_FURNISHED,BOTH,1500,15.0,3.0,E,4.0,0.0,0.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,1.0,45000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20550,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1,SEMI_FURNISHED,BOTH,1650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20551,BHK2,NaN,NaN,NaN,NaN,NaN,0,0,0,1,SEMI_FURNISHED,BOTH,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20552,BHK2,NaN,NaN,NaN,NaN,NaN,1,1,0,1,SEMI_FURNISHED,BOTH,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20553,BHK2,NaN,NaN,NaN,NaN,NaN,0,1,0,0,SEMI_FURNISHED,BOTH,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20554,BHK1,NaN,NaN,NaN,NaN,NaN,0,0,0,1,SEMI_FURNISHED,TWO_WHEELER,500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [161]:
df.columns

Index(['type', 'locality', 'activation_date', 'latitude', 'longitude',
       'lease_type', 'gym', 'lift', 'swimming_pool', 'negotiable',
       'furnishing', 'parking', 'property_size', 'property_age', 'bathroom',
       'facing', 'cup_board', 'floor', 'total_floor', 'amenities',
       'water_supply', 'building_type', 'balconies', 'rent'],
      dtype='object')

In [162]:
df.dtypes

type                object
locality            object
activation_date     object
latitude           float64
longitude          float64
lease_type          object
gym                  int64
lift                 int64
swimming_pool        int64
negotiable           int64
furnishing          object
parking             object
property_size        int64
property_age       float64
bathroom           float64
facing              object
cup_board          float64
floor              float64
total_floor        float64
amenities           object
water_supply        object
building_type       object
balconies          float64
rent               float64
dtype: object

In [163]:
df.describe()

,latitude,longitude,gym,lift,swimming_pool,negotiable,property_size,property_age,bathroom,cup_board,floor,total_floor,balconies,rent
count,20532.000000,20532.000000,20555.000000,20555.000000,20555.000000,20555.000000,20555.000000,20532.000000,20532.000000,20532.000000,20532.000000,20532.000000,20532.000000,20532.000000
mean,12.945748,77.637295,0.227049,0.362053,0.174848,0.711603,1062.017465,5.769920,1.858465,4.549922,1.874050,3.801335,1.149523,19056.733148
std,0.029601,0.110525,0.418935,0.480606,0.379846,0.453028,591.207446,6.350989,0.710926,335.154787,2.183982,3.183697,0.993549,8434.029016
min,12.900004,77.500072,0.000000,0.000000,0.000000,0.000000,1.000000,-1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,8000.000000
25%,12.918176,77.572068,0.000000,0.000000,0.000000,0.000000,700.000000,1.000000,1.000000,1.000000,1.000000,2.000000,0.000000,12500.000000
50%,12.943790,77.633506,0.000000,0.000000,0.000000,1.000000,1047.000000,5.000000,2.000000,2.000000,1.000000,3.000000,1.000000,17500.000000
75%,12.970979,77.695723,0.000000,1.000000,0.000000,1.000000,1285.000000,10.000000,2.000000,3.000000,2.000000,4.000000,2.000000,24000.000000
max,12.999999,80.266346,1.000000,1.000000,1.000000,1.000000,50000.000000,400.000000,21.000000,48026.000000,25.000000,26.000000,13.000000,50000.000000

In [164]:
df['type'].unique()

array(['BHK2', 'BHK3', 'BHK1', 'RK1', 'BHK4', 'BHK4PLUS', '1BHK1', 'bhk2',
       'bhk3', nan], dtype=object)

In [165]:
df[df['type']=='bhk3']

,type,locality,activation_date,latitude,longitude,lease_type,gym,lift,swimming_pool,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,amenities,water_supply,building_type,balconies,rent
3988,bhk3,"Belatur Colony,Brindavan Layout",22-05-2018 14:50,12.999722,77.757173,ANYONE,1,1,1,1,FULLY_FURNISHED,BOTH,1760,8.0,3.0,E,3.0,1.0,12.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":true,""AC"":f...",CORP_BORE,AP,3.0,30000.0
3991,bhk3,3rd block jayanagar,9/6/2018 13:16,12.929037,77.591325,FAMILY,0,0,0,0,SEMI_FURNISHED,BOTH,1850,0.0,2.0,N,2.0,3.0,3.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":true,""AC""...",CORP_BORE,IF,2.0,35000.0
3993,bhk3,Banashankari,19-08-2017 19:35,12.922971,77.553334,FAMILY,0,0,0,1,SEMI_FURNISHED,BOTH,1720,7.0,3.0,N,3.0,0.0,1.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":true,""AC""...",CORP_BORE,IH,1.0,25000.0
4006,bhk3,RR Nagar,18-08-2017 15:36,12.908074,77.524713,FAMILY,0,1,0,0,SEMI_FURNISHED,BOTH,1540,0.0,3.0,E,3.0,0.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":true,""AC"":...",CORP_BORE,AP,3.0,15000.0
4007,bhk3,Halanayakanahalli,26-08-2017 13:30,12.910441,77.682649,FAMILY,1,1,1,1,SEMI_FURNISHED,FOUR_WHEELER,1920,0.0,3.0,SE,10.0,4.0,16.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":true,""AC"":f...",BOREWELL,AP,2.0,38000.0
4015,bhk3,Rajajinagar,7/7/2018 19:21,12.988256,77.544989,ANYONE,0,0,0,1,SEMI_FURNISHED,BOTH,1100,10.0,1.0,E,2.0,1.0,1.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IF,0.0,18500.0
4016,bhk3,Whitefield,18-12-2017 18:59,12.985152,77.751743,FAMILY,1,1,1,1,SEMI_FURNISHED,BOTH,1839,0.0,3.0,E,2.0,18.0,19.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":true,""AC"":f...",CORP_BORE,AP,2.0,37000.0
4019,bhk3,Nagavarapalya,13-07-2018 21:09,12.992901,77.662229,FAMILY,0,0,0,1,SEMI_FURNISHED,BOTH,2000,5.0,4.0,N,3.0,0.0,2.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":true,""AC""...",CORP_BORE,IH,1.0,35000.0
4020,bhk3,"Thubarahalli,Munnekollal",14-03-2018 15:33,12.950563,77.717488,FAMILY,1,1,1,1,SEMI_FURNISHED,BOTH,1950,6.0,3.0,E,3.0,2.0,5.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":false,""AC"":...",BOREWELL,AP,2.0,25000.0
4075,bhk3,"Simhadri layout,Uttarahalli Hobli",4/12/2017 9:05,12.909612,77.545166,FAMILY,1,1,1,1,SEMI_FURNISHED,FOUR_WHEELER,1400,5.0,2.0,NE,2.0,1.0,4.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":false,""AC"":...",BOREWELL,AP,2.0,18000.0
4097,bhk3,Vijayanagar,17-03-2018 12:20,12.973782,77.546144,FAMILY,1,1,1,0,SEMI_FURNISHED,BOTH,1150,0.0,3.0,W,3.0,0.0,3.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":true,""AC"":f...",CORP_BORE,IF,0.0,27000.0
4098,bhk3,Vibhutipura,22-12-2017 17:00,12.965098,77.677878,ANYONE,0,0,0,0,SEMI_FURNISHED,BOTH,1600,8.0,3.0,W,3.0,0.0,3.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":true,""AC""...",CORPORATION,IH,3.0,22000.0

In [166]:
df['type'] = df['type'].str.replace("bhk2","BHK2")

In [167]:
df['type'] = df['type'].str.replace("bhk3","BHK3") #1BHK1

In [168]:
df['type'] = df['type'].str.replace("1BHK1","BHK1")

In [169]:
df['type'].value_counts()

BHK2        11694
BHK3         4400
BHK1         3617
RK1           553
BHK4          233
BHK4PLUS       31
Name: type, dtype: int64

In [170]:
df['type'].unique()

array(['BHK2', 'BHK3', 'BHK1', 'RK1', 'BHK4', 'BHK4PLUS', nan],
      dtype=object)

In [171]:
df.dropna(subset=["type"],inplace=True)

In [172]:
df['locality'].unique()

array([nan, 'Bellandur', 'Thiruvanmiyur', ...,
       'Reliance Fresh, Whitefield Main Road, Industrial Area, Whitefield',
       'Koramangala 4th block',
       'Mahadevapura bus stop, Mahadevapura, Bengaluru, Karnataka, India'],
      dtype=object)

In [173]:
df.dropna(subset = ['locality'],inplace=True)

In [174]:
df.dropna(subset = ['activation_date'],inplace=True)

In [175]:
df.dropna(subset = ['latitude'],inplace=True)

In [176]:
df.dropna(subset = ['longitude'],inplace=True)

In [177]:
df.dropna(subset = ['lease_type'],inplace=True)

In [178]:
df.dropna(subset = ['gym'],inplace=True)

In [179]:
df.dropna(subset = ['lift'],inplace=True)

In [180]:
df.dropna(subset = ['swimming_pool'],inplace=True)

In [181]:
df.dropna(subset = ['negotiable'],inplace=True)

In [182]:
df.dropna(subset = ['furnishing'],inplace=True)

In [183]:
df.dropna(subset = ['parking'],inplace=True)

In [184]:
df.dropna(subset = ['property_size'],inplace=True)

In [185]:
df.dropna(subset = ['property_age'],inplace=True)

In [186]:
df.dropna(subset = ['bathroom'],inplace=True)

In [187]:
df.dropna(subset = ['facing'],inplace=True)

In [188]:
df.dropna(subset = ['cup_board'],inplace=True)

In [189]:
df.dropna(subset = ['floor'],inplace=True)

In [190]:
df.dropna(subset = ['total_floor'],inplace=True)

In [191]:
df.dropna(subset = ['water_supply'],inplace=True)

In [192]:
df.dropna(subset = ['building_type'],inplace=True)

In [193]:
df.dropna(subset = ['balconies'],inplace=True)

In [194]:
df.dropna(subset = ['rent'],inplace=True)

In [195]:
df

,type,locality,activation_date,latitude,longitude,lease_type,gym,lift,swimming_pool,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,amenities,water_supply,building_type,balconies,rent
1,BHK2,Bellandur,9/10/2017 12:48,12.929557,77.672280,ANYONE,0,1,0,1,SEMI_FURNISHED,BOTH,1400,4.0,2.0,NE,2.0,3.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORPORATION,AP,2.0,22000.0
2,BHK3,Thiruvanmiyur,12/6/2018 22:02,12.982870,80.262012,FAMILY,0,1,0,0,SEMI_FURNISHED,BOTH,1350,6.0,3.0,E,3.0,1.0,5.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORP_BORE,AP,3.0,28000.0
3,BHK1,Attiguppe,20-07-2018 16:22,12.955991,77.531634,FAMILY,0,0,0,1,SEMI_FURNISHED,TWO_WHEELER,600,3.0,1.0,E,1.0,1.0,2.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,0.0,8000.0
4,BHK3,Kodihalli,31-05-2018 17:41,12.963903,77.649446,FAMILY,0,0,0,1,SEMI_FURNISHED,BOTH,1500,15.0,3.0,E,4.0,0.0,0.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,1.0,45000.0
5,BHK1,"Seetharampalya,Hoodi",24-10-2017 18:29,12.986196,77.718314,FAMILY,1,1,1,1,SEMI_FURNISHED,BOTH,1080,0.0,2.0,E,1.0,3.0,5.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":false,""AC"":...",CORP_BORE,AP,2.0,18000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20524,BHK1,Ulsoor,11/10/2017 17:08,12.979762,77.615395,ANYONE,0,1,0,1,SEMI_FURNISHED,TWO_WHEELER,850,30.0,2.0,E,1.0,1.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":true,""AC"":...",CORP_BORE,AP,1.0,20000.0
20528,BHK2,Koramangala 4th Block,19-10-2017 20:31,12.931072,77.632361,ANYONE,0,0,0,1,SEMI_FURNISHED,BOTH,1000,10.0,2.0,N,2.0,1.0,2.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":true,""AC""...",CORPORATION,IH,2.0,30000.0
20529,BHK2,Kumaraswamy Layout,21-12-2017 21:18,12.901800,77.566597,FAMILY,1,1,0,1,SEMI_FURNISHED,BOTH,1000,0.0,2.0,W,2.0,5.0,5.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":true,""AC"":f...",BOREWELL,AP,2.0,16000.0
20530,BHK2,Indiranagar,28-06-2018 21:58,12.965502,77.647694,FAMILY,0,1,0,0,SEMI_FURNISHED,BOTH,1000,5.0,2.0,E,2.0,2.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":true,""AC"":...",CORP_BORE,AP,3.0,30000.0
20531,BHK1,Malleshwaram West,8/7/2018 22:31,12.998645,77.574336,ANYONE,0,0,0,1,SEMI_FURNISHED,TWO_WHEELER,500,3.0,1.0,E,1.0,1.0,1.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,1.0,8500.0

In [196]:
df['locality'].value_counts()

Whitefield                                                                                        900
HSR Layout                                                                                        682
Banashankari                                                                                      644
Marathahalli                                                                                      473
Bellandur                                                                                         433
                                                                                                 ...
Simhadri layout                                                                                     1
Skylark Esta, Seetharampalya, Bengaluru, Karnataka, India                                           1
23d, 2nd A Cross Rd, Srinivasnagar, Banashankari, Bengaluru, Karnataka 560050, India,Bengaluru      1
Wilson Garden,                                                                                      1
Mahadevapura bus stop, Mahadevapura, Bengaluru, Karnataka, India                                    1
Name: locality, Length: 1917, dtype: int64

In [197]:
df['locality'].nunique()

1917

In [198]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20377 entries, 1 to 20531
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   type             20377 non-null  object
 1   locality         20377 non-null  object
 2   activation_date  20377 non-null  object
 3   latitude         20377 non-null  float64
 4   longitude        20377 non-null  float64
 5   lease_type       20377 non-null  object
 6   gym              20377 non-null  int64
 7   lift             20377 non-null  int64
 8   swimming_pool    20377 non-null  int64
 9   negotiable       20377 non-null  int64
 10  furnishing       20377 non-null  object
 11  parking          20377 non-null  object
 12  property_size    20377 non-null  int64
 13  property_age     20377 non-null  float64
 14  bathroom         20377 non-null  float64
 15  facing           20377 non-null  object
 16  cup_board        20377 non-null  float64
 17  floor            20377 non-null  float64
 18  total_floor      20377 non-null  float64
 19  amenities        20377 non-null  object
 20  water_supply     20377 non-null  object
 21  building_type    20377 non-null  object
 22  balconies        20377 non-null  float64
 23  rent             20377 non-null  float64
dtypes: float64(9), int64(5), object(10)
memory usage: 3.9+ MB

In [199]:
# import reverse_geocoder as revgc

# # Assuming df is your DataFrame with 'latitude' and 'longitude' columns
# # Iterate through the rows of the DataFrame and perform reverse geocoding for each row
# for index, row in df.iterrows():
#     coordinates = (row['latitude'], row['longitude'])
#     result = revgc.search(coordinates)
    
#     # The result is a list with a single dictionary, you can extract information as needed
#     state = result[0]['admin2']
#     print(state)

In [200]:
# df['district'] = pd.DataFrame(state,columns=['state'])

In [201]:
df['lease_type'].unique()

array(['ANYONE', 'FAMILY', 'BACHELOR', 'COMPANY'], dtype=object)

In [202]:
df['lease_type'].value_counts()

FAMILY      10113
ANYONE       9622
BACHELOR      584
COMPANY        58
Name: lease_type, dtype: int64

In [203]:
df['activation_date'] = pd.to_datetime(df['activation_date'])

In [204]:
df['activation_date']

1       2017-09-10 12:48:00
2       2018-12-06 22:02:00
3       2018-07-20 16:22:00
4       2018-05-31 17:41:00
5       2017-10-24 18:29:00
                ...
20524   2017-11-10 17:08:00
20528   2017-10-19 20:31:00
20529   2017-12-21 21:18:00
20530   2018-06-28 21:58:00
20531   2018-08-07 22:31:00
Name: activation_date, Length: 20377, dtype: datetime64[ns]

In [205]:
import json

amenities_list = []
for index, row in df.iterrows():
    adict = json.loads(row['amenities'])
    amenities_dict = {
        "LIFT": adict.get("LIFT", None),
        "GYM": adict.get("GYM", None),
        "INTERNET": adict.get("INTERNET", None),
        "AC": adict.get("AC", None),
        "CLUB": adict.get("CLUB", None),
        "INTERCOM": adict.get("INTERCOM", None),
        "POOL": adict.get("POOL", None),
        "CPA": adict.get("CPA", None),
        "FS": adict.get("FS", None),
        "SERVANT": adict.get("SERVANT", None),
        "SECURITY": adict.get("SECURITY", None),
        "SC": adict.get("SC", None),
        "GP": adict.get("GP", None),
        "PARK": adict.get("PARK", None),
        "RWH": adict.get("RWH", None),
        "STP": adict.get("STP", None),
        "HK": adict.get("HK", None),
        "PB": adict.get("PB", None),
        "VP": adict.get("VP", None)
    }
    
    amenities_list.append(amenities_dict)

In [206]:
amini_df = pd.DataFrame(amenities_list)

In [207]:
amini_df

,LIFT,GYM,INTERNET,AC,CLUB,INTERCOM,POOL,CPA,FS,SERVANT,SECURITY,SC,GP,PARK,RWH,STP,HK,PB,VP
0,True,False,False,False,False,False,False,False,False,False,True,True,False,True,True,True,False,True,True
1,True,False,False,False,False,False,False,True,False,False,False,True,False,True,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,True
4,True,True,False,False,True,False,True,True,True,False,True,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20372,True,False,True,False,False,False,False,False,True,False,True,True,True,True,False,False,True,False,True
20373,False,False,True,False,False,False,False,False,False,False,False,True,False,True,True,False,False,False,False
20374,True,True,True,False,True,False,False,True,False,False,True,False,False,True,False,False,False,True,False
20375,True,False,True,False,False,False,False,True,True,False,True,True,False,True,False,False,True,True,True
20376,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False

In [208]:
df = pd.concat([df,amini_df],axis=1)
df

,type,locality,activation_date,latitude,longitude,lease_type,gym,lift,swimming_pool,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,amenities,water_supply,building_type,balconies,rent,LIFT,GYM,INTERNET,AC,CLUB,INTERCOM,POOL,CPA,FS,SERVANT,SECURITY,SC,GP,PARK,RWH,STP,HK,PB,VP
1,BHK2,Bellandur,2017-09-10 12:48:00,12.929557,77.672280,ANYONE,0.0,1.0,0.0,1.0,SEMI_FURNISHED,BOTH,1400.0,4.0,2.0,NE,2.0,3.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORPORATION,AP,2.0,22000.0,True,False,False,False,False,False,False,True,False,False,False,True,False,True,False,False,False,True,True
2,BHK3,Thiruvanmiyur,2018-12-06 22:02:00,12.982870,80.262012,FAMILY,0.0,1.0,0.0,0.0,SEMI_FURNISHED,BOTH,1350.0,6.0,3.0,E,3.0,1.0,5.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORP_BORE,AP,3.0,28000.0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,BHK1,Attiguppe,2018-07-20 16:22:00,12.955991,77.531634,FAMILY,0.0,0.0,0.0,1.0,SEMI_FURNISHED,TWO_WHEELER,600.0,3.0,1.0,E,1.0,1.0,2.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,0.0,8000.0,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,True
4,BHK3,Kodihalli,2018-05-31 17:41:00,12.963903,77.649446,FAMILY,0.0,0.0,0.0,1.0,SEMI_FURNISHED,BOTH,1500.0,15.0,3.0,E,4.0,0.0,0.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,1.0,45000.0,True,True,False,False,True,False,True,True,True,False,True,False,False,False,False,False,False,True,False
5,BHK1,"Seetharampalya,Hoodi",2017-10-24 18:29:00,12.986196,77.718314,FAMILY,1.0,1.0,1.0,1.0,SEMI_FURNISHED,BOTH,1080.0,0.0,2.0,E,1.0,3.0,5.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":false,""AC"":...",CORP_BORE,AP,2.0,18000.0,True,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20311,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False
20330,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
20331,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False,True,False,False,False,False,False,False,False,True,True,False,True,False,False,False,False,False
20332,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,True,False,False,False,False,False,False,False,False,True,False,True,True,False,False,False,False
20333,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False

In [209]:
df.dropna(subset = ['type'],inplace=True)

In [210]:
df.dropna(subset = ['locality'],inplace=True)

In [211]:
df.dropna(subset = ['activation_date'],inplace=True)

In [212]:
df.dropna(subset = ['lease_type'],inplace=True)

In [213]:
df.dropna(subset = ['gym'],inplace=True)

In [221]:
df.dropna(subset = ['internet'],inplace=True)

In [222]:
df.dropna(subset = ['ac'],inplace=True)

In [223]:
df.dropna(subset = ['club'],inplace=True)

In [224]:
df.dropna(subset = ['intercom'],inplace=True)

In [225]:
df.dropna(subset = ['servant'],inplace=True)

In [226]:
df.dropna(subset = ['security'],inplace=True)

In [231]:
df.dropna(subset = ['gas_pipeline'],inplace=True)

In [232]:
df.dropna(subset = ['park'],inplace=True)

In [233]:
df.dropna(subset = ['rain_water_harvest'],inplace=True)

In [234]:
df.dropna(subset = ['sewage_treat_plant'],inplace=True)

In [235]:
df.dropna(subset = ['house_keeping'],inplace=True)

In [236]:
df

,type,locality,activation_date,latitude,longitude,lease_type,gym,lift,swimming_pool,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,amenities,water_supply,building_type,balconies,rent,lift,gym,internet,ac,club,intercom,pool,cpa,fs,servant,security,sc,gas_pipeline,park,rain_water_harvest,sewage_treat_plant,house_keeping,pb,vp
1,BHK2,Bellandur,2017-09-10 12:48:00,12.929557,77.672280,ANYONE,0.0,1.0,0.0,1.0,SEMI_FURNISHED,BOTH,1400.0,4.0,2.0,NE,2.0,3.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORPORATION,AP,2.0,22000.0,True,False,False,False,False,False,False,True,False,False,False,True,False,True,False,False,False,True,True
2,BHK3,Thiruvanmiyur,2018-12-06 22:02:00,12.982870,80.262012,FAMILY,0.0,1.0,0.0,0.0,SEMI_FURNISHED,BOTH,1350.0,6.0,3.0,E,3.0,1.0,5.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORP_BORE,AP,3.0,28000.0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,BHK1,Attiguppe,2018-07-20 16:22:00,12.955991,77.531634,FAMILY,0.0,0.0,0.0,1.0,SEMI_FURNISHED,TWO_WHEELER,600.0,3.0,1.0,E,1.0,1.0,2.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,0.0,8000.0,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,True
4,BHK3,Kodihalli,2018-05-31 17:41:00,12.963903,77.649446,FAMILY,0.0,0.0,0.0,1.0,SEMI_FURNISHED,BOTH,1500.0,15.0,3.0,E,4.0,0.0,0.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,1.0,45000.0,True,True,False,False,True,False,True,True,True,False,True,False,False,False,False,False,False,True,False
5,BHK1,"Seetharampalya,Hoodi",2017-10-24 18:29:00,12.986196,77.718314,FAMILY,1.0,1.0,1.0,1.0,SEMI_FURNISHED,BOTH,1080.0,0.0,2.0,E,1.0,3.0,5.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":false,""AC"":...",CORP_BORE,AP,2.0,18000.0,True,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20372,BHK2,Rajaji Nagar,2018-04-20 19:33:00,12.989132,77.563940,FAMILY,0.0,0.0,0.0,1.0,SEMI_FURNISHED,TWO_WHEELER,1300.0,10.0,1.0,N,1.0,0.0,2.0,"{""PARK"":false,""HK"":false,""LIFT"":false,""PB"":fal...",CORP_BORE,IF,0.0,8500.0,True,False,True,False,False,False,False,False,True,False,True,True,True,True,False,False,True,False,True
20373,BHK2,Marathahalli,2017-12-14 13:16:00,12.954245,77.691410,FAMILY,1.0,1.0,0.0,1.0,SEMI_FURNISHED,BOTH,1300.0,7.0,2.0,E,2.0,2.0,4.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":false,""AC"":...",CORP_BORE,AP,1.0,22000.0,False,False,True,False,False,False,False,False,False,False,False,True,False,True,True,False,False,False,False
20374,BHK2,Uttarahalli,2017-10-12 16:21:00,12.908593,77.548768,FAMILY,0.0,0.0,0.0,1.0,NOT_FURNISHED,TWO_WHEELER,1000.0,10.0,1.0,N,0.0,1.0,1.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORP_BORE,IF,0.0,10000.0,True,True,True,False,True,False,False,True,False,False,True,False,False,True,False,False,False,True,False
20375,BHK2,Uttarahalli Hobli,2017-04-10 17:01:00,12.904690,77.547884,FAMILY,0.0,0.0,0.0,1.0,FULLY_FURNISHED,BOTH,1000.0,9.0,2.0,E,4.0,0.0,1.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":true,""AC""...",BOREWELL,IF,0.0,15000.0,True,False,True,False,False,False,False,True,True,False,True,True,False,True,False,False,True,True,True
20376,BHK2,JP Nagar,2017-02-12 11:18:00,12.909468,77.575113,FAMILY,0.0,0.0,0.0,0.0,SEMI_FURNISHED,TWO_WHEELER,900.0,12.0,2.0,E,2.0,0.0,1.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":true,""AC""...",CORP_BORE,IF,1.0,14000.0,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19136 entries, 1 to 20376
Data columns (total 43 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   type                19136 non-null  object
 1   locality            19136 non-null  object
 2   activation_date     19136 non-null  datetime64[ns]
 3   latitude            19136 non-null  float64
 4   longitude           19136 non-null  float64
 5   lease_type          19136 non-null  object
 6   gym                 19136 non-null  float64
 7   lift                19136 non-null  float64
 8   swimming_pool       19136 non-null  float64
 9   negotiable          19136 non-null  float64
 10  furnishing          19136 non-null  object
 11  parking             19136 non-null  object
 12  property_size       19136 non-null  float64
 13  property_age        19136 non-null  float64
 14  bathroom            19136 non-null  float64
 15  facing              19136 non-null  object
 16  cup_board           19136 non-null  float64
 17  floor               19136 non-null  float64
 18  total_floor         19136 non-null  float64
 19  amenities           19136 non-null  object
 20  water_supply        19136 non-null  object
 21  building_type       19136 non-null  object
 22  balconies           19136 non-null  float64
 23  rent                19136 non-null  float64
 24  lift                19136 non-null  object
 25  gym                 19136 non-null  object
 26  internet            19136 non-null  object
 27  ac                  19136 non-null  object
 28  club                19136 non-null  object
 29  intercom            19136 non-null  object
 30  pool                19136 non-null  object
 31  cpa                 19136 non-null  object
 32  fs                  19136 non-null  object
 33  servant             19136 non-null  object
 34  security            19136 non-null  object
 35  sc                  19136 non-null  object
 36  gas_pipeline        19136 non-null  object
 37  park                19136 non-null  object
 38  rain_water_harvest  19136 non-null  object
 39  sewage_treat_plant  19136 non-null  object
 40  house_keeping       19136 non-null  object
 41  pb                  19136 non-null  object
 42  vp                  19136 non-null  object
dtypes: datetime64[ns](1), float64(14), object(28)
memory usage: 6.4+ MB

In [495]:
df

,type,locality,activation_date,lease_type,gym,lift,swimming_pool,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,water_supply,building_type,balconies,rent,internet,ac,club,intercom,servant,security,gas_pipeline,park,rain_water_harvest,sewage_treat_plant,house_keeping
1,BHK2,Bellandur,2017-09-10 12:48:00,ANYONE,0.0,1.0,0.0,1.0,SEMI_FURNISHED,BOTH,1400.0,4.0,2.0,NE,2.0,3.0,4.0,CORPORATION,AP,2.0,22000.0,False,False,False,False,False,False,False,True,False,False,False
2,BHK3,Thiruvanmiyur,2018-12-06 22:02:00,FAMILY,0.0,1.0,0.0,0.0,SEMI_FURNISHED,BOTH,1350.0,6.0,3.0,E,3.0,1.0,5.0,CORP_BORE,AP,3.0,28000.0,False,False,False,False,False,False,False,False,False,False,False
3,BHK1,Attiguppe,2018-07-20 16:22:00,FAMILY,0.0,0.0,0.0,1.0,SEMI_FURNISHED,TWO_WHEELER,600.0,3.0,1.0,E,1.0,1.0,2.0,CORPORATION,IH,0.0,8000.0,False,False,False,False,False,False,False,True,False,False,False
4,BHK3,Kodihalli,2018-05-31 17:41:00,FAMILY,0.0,0.0,0.0,1.0,SEMI_FURNISHED,BOTH,1500.0,15.0,3.0,E,4.0,0.0,0.0,CORPORATION,IH,1.0,45000.0,False,False,True,False,False,True,False,False,False,False,False
5,BHK1,"Seetharampalya,Hoodi",2017-10-24 18:29:00,FAMILY,1.0,1.0,1.0,1.0,SEMI_FURNISHED,BOTH,1080.0,0.0,2.0,E,1.0,3.0,5.0,CORP_BORE,AP,2.0,18000.0,True,True,True,True,True,True,False,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20372,BHK2,Rajaji Nagar,2018-04-20 19:33:00,FAMILY,0.0,0.0,0.0,1.0,SEMI_FURNISHED,TWO_WHEELER,1300.0,10.0,1.0,N,1.0,0.0,2.0,CORP_BORE,IF,0.0,8500.0,True,False,False,False,False,True,True,True,False,False,True
20373,BHK2,Marathahalli,2017-12-14 13:16:00,FAMILY,1.0,1.0,0.0,1.0,SEMI_FURNISHED,BOTH,1300.0,7.0,2.0,E,2.0,2.0,4.0,CORP_BORE,AP,1.0,22000.0,True,False,False,False,False,False,False,True,True,False,False
20374,BHK2,Uttarahalli,2017-10-12 16:21:00,FAMILY,0.0,0.0,0.0,1.0,NOT_FURNISHED,TWO_WHEELER,1000.0,10.0,1.0,N,0.0,1.0,1.0,CORP_BORE,IF,0.0,10000.0,True,False,True,False,False,True,False,True,False,False,False
20375,BHK2,Uttarahalli Hobli,2017-04-10 17:01:00,FAMILY,0.0,0.0,0.0,1.0,FULLY_FURNISHED,BOTH,1000.0,9.0,2.0,E,4.0,0.0,1.0,BOREWELL,IF,0.0,15000.0,True,False,False,False,False,True,False,True,False,False,True
20376,BHK2,JP Nagar,2017-02-12 11:18:00,FAMILY,0.0,0.0,0.0,0.0,SEMI_FURNISHED,TWO_WHEELER,900.0,12.0,2.0,E,2.0,0.0,1.0,CORP_BORE,IF,1.0,14000.0,False,False,False,False,False,False,False,True,False,False,False

In [219]:
df = df.rename(columns = lambda x: x.lower())

In [220]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20377 entries, 1 to 20531
Data columns (total 43 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   type             20377 non-null  object
 1   locality         20377 non-null  object
 2   activation_date  20377 non-null  datetime64[ns]
 3   latitude         20377 non-null  float64
 4   longitude        20377 non-null  float64
 5   lease_type       20377 non-null  object
 6   gym              20377 non-null  float64
 7   lift             20377 non-null  float64
 8   swimming_pool    20377 non-null  float64
 9   negotiable       20377 non-null  float64
 10  furnishing       20377 non-null  object
 11  parking          20377 non-null  object
 12  property_size    20377 non-null  float64
 13  property_age     20377 non-null  float64
 14  bathroom         20377 non-null  float64
 15  facing           20377 non-null  object
 16  cup_board        20377 non-null  float64
 17  floor            20377 non-null  float64
 18  total_floor      20377 non-null  float64
 19  amenities        20377 non-null  object
 20  water_supply     20377 non-null  object
 21  building_type    20377 non-null  object
 22  balconies        20377 non-null  float64
 23  rent             20377 non-null  float64
 24  lift             20245 non-null  object
 25  gym              20184 non-null  object
 26  internet         20245 non-null  object
 27  ac               20245 non-null  object
 28  club             19197 non-null  object
 29  intercom         20245 non-null  object
 30  pool             20245 non-null  object
 31  cpa              19197 non-null  object
 32  fs               20245 non-null  object
 33  servant          19197 non-null  object
 34  security         20245 non-null  object
 35  sc               20245 non-null  object
 36  gp               19197 non-null  object
 37  park             20245 non-null  object
 38  rwh              19197 non-null  object
 39  stp              19197 non-null  object
 40  hk               20245 non-null  object
 41  pb               20245 non-null  object
 42  vp               19197 non-null  object
dtypes: datetime64[ns](1), float64(14), object(28)
memory usage: 6.8+ MB

hk - house keeping, stp - sewage treatment plant, rwh - rain water harvesting, gp - gas pipeline,

In [230]:
df = df.rename(columns = {"gp":"gas_pipeline","rwh":"rain_water_harvest","stp":"sewage_treat_plant","hk":"house_keeping"})

In [77]:
df

,type,locality,activation_date,latitude,longitude,lease_type,gym,lift,swimming_pool,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,amenities,water_supply,building_type,balconies,rent,lift,gym,internet,ac,club,intercom,pool,cpa,fs,servant,security,sc,gas_pipeline,park,rain_water_harvest,sewage_treat_plant,house_keeping,pb,vp
1,BHK2,Bellandur,2017-09-10 12:48:00,12.929557,77.672280,ANYONE,0.0,1.0,0.0,1.0,SEMI_FURNISHED,BOTH,1400.0,4.0,2.0,NE,2.0,3.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORPORATION,AP,2.0,22000.0,True,False,False,False,False,False,False,True,False,False,False,True,False,True,False,False,False,True,True
2,BHK3,Thiruvanmiyur,2018-12-06 22:02:00,12.982870,80.262012,FAMILY,0.0,1.0,0.0,0.0,SEMI_FURNISHED,BOTH,1350.0,6.0,3.0,E,3.0,1.0,5.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORP_BORE,AP,3.0,28000.0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,BHK1,Attiguppe,2018-07-20 16:22:00,12.955991,77.531634,FAMILY,0.0,0.0,0.0,1.0,SEMI_FURNISHED,TWO_WHEELER,600.0,3.0,1.0,E,1.0,1.0,2.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,0.0,8000.0,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,True
4,BHK3,Kodihalli,2018-05-31 17:41:00,12.963903,77.649446,FAMILY,0.0,0.0,0.0,1.0,SEMI_FURNISHED,BOTH,1500.0,15.0,3.0,E,4.0,0.0,0.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,1.0,45000.0,True,True,False,False,True,False,True,True,True,False,True,False,False,False,False,False,False,True,False
5,BHK1,"Seetharampalya,Hoodi",2017-10-24 18:29:00,12.986196,77.718314,FAMILY,1.0,1.0,1.0,1.0,SEMI_FURNISHED,BOTH,1080.0,0.0,2.0,E,1.0,3.0,5.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":false,""AC"":...",CORP_BORE,AP,2.0,18000.0,True,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20372,BHK2,Rajaji Nagar,2018-04-20 19:33:00,12.989132,77.563940,FAMILY,0.0,0.0,0.0,1.0,SEMI_FURNISHED,TWO_WHEELER,1300.0,10.0,1.0,N,1.0,0.0,2.0,"{""PARK"":false,""HK"":false,""LIFT"":false,""PB"":fal...",CORP_BORE,IF,0.0,8500.0,True,False,True,False,False,False,False,False,True,False,True,True,True,True,False,False,True,False,True
20373,BHK2,Marathahalli,2017-12-14 13:16:00,12.954245,77.691410,FAMILY,1.0,1.0,0.0,1.0,SEMI_FURNISHED,BOTH,1300.0,7.0,2.0,E,2.0,2.0,4.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":false,""AC"":...",CORP_BORE,AP,1.0,22000.0,False,False,True,False,False,False,False,False,False,False,False,True,False,True,True,False,False,False,False
20374,BHK2,Uttarahalli,2017-10-12 16:21:00,12.908593,77.548768,FAMILY,0.0,0.0,0.0,1.0,NOT_FURNISHED,TWO_WHEELER,1000.0,10.0,1.0,N,0.0,1.0,1.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORP_BORE,IF,0.0,10000.0,True,True,True,False,True,False,False,True,False,False,True,False,False,True,False,False,False,True,False
20375,BHK2,Uttarahalli Hobli,2017-04-10 17:01:00,12.904690,77.547884,FAMILY,0.0,0.0,0.0,1.0,FULLY_FURNISHED,BOTH,1000.0,9.0,2.0,E,4.0,0.0,1.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":true,""AC""...",BOREWELL,IF,0.0,15000.0,True,False,True,False,False,False,False,True,True,False,True,True,False,True,False,False,True,True,True
20376,BHK2,JP Nagar,2017-02-12 11:18:00,12.909468,77.575113,FAMILY,0.0,0.0,0.0,0.0,SEMI_FURNISHED,TWO_WHEELER,900.0,12.0,2.0,E,2.0,0.0,1.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":true,""AC""...",CORP_BORE,IF,1.0,14000.0,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False

In [497]:
df

,type,locality,activation_date,lease_type,gym,lift,swimming_pool,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,water_supply,building_type,balconies,rent,internet,ac,club,intercom,servant,security,gas_pipeline,park,rain_water_harvest,sewage_treat_plant,house_keeping
1,BHK2,Bellandur,2017-09-10 12:48:00,ANYONE,0.0,1.0,0.0,1.0,SEMI_FURNISHED,BOTH,1400.0,4.0,2.0,NE,2.0,3.0,4.0,CORPORATION,AP,2.0,22000.0,False,False,False,False,False,False,False,True,False,False,False
2,BHK3,Thiruvanmiyur,2018-12-06 22:02:00,FAMILY,0.0,1.0,0.0,0.0,SEMI_FURNISHED,BOTH,1350.0,6.0,3.0,E,3.0,1.0,5.0,CORP_BORE,AP,3.0,28000.0,False,False,False,False,False,False,False,False,False,False,False
3,BHK1,Attiguppe,2018-07-20 16:22:00,FAMILY,0.0,0.0,0.0,1.0,SEMI_FURNISHED,TWO_WHEELER,600.0,3.0,1.0,E,1.0,1.0,2.0,CORPORATION,IH,0.0,8000.0,False,False,False,False,False,False,False,True,False,False,False
4,BHK3,Kodihalli,2018-05-31 17:41:00,FAMILY,0.0,0.0,0.0,1.0,SEMI_FURNISHED,BOTH,1500.0,15.0,3.0,E,4.0,0.0,0.0,CORPORATION,IH,1.0,45000.0,False,False,True,False,False,True,False,False,False,False,False
5,BHK1,"Seetharampalya,Hoodi",2017-10-24 18:29:00,FAMILY,1.0,1.0,1.0,1.0,SEMI_FURNISHED,BOTH,1080.0,0.0,2.0,E,1.0,3.0,5.0,CORP_BORE,AP,2.0,18000.0,True,True,True,True,True,True,False,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20372,BHK2,Rajaji Nagar,2018-04-20 19:33:00,FAMILY,0.0,0.0,0.0,1.0,SEMI_FURNISHED,TWO_WHEELER,1300.0,10.0,1.0,N,1.0,0.0,2.0,CORP_BORE,IF,0.0,8500.0,True,False,False,False,False,True,True,True,False,False,True
20373,BHK2,Marathahalli,2017-12-14 13:16:00,FAMILY,1.0,1.0,0.0,1.0,SEMI_FURNISHED,BOTH,1300.0,7.0,2.0,E,2.0,2.0,4.0,CORP_BORE,AP,1.0,22000.0,True,False,False,False,False,False,False,True,True,False,False
20374,BHK2,Uttarahalli,2017-10-12 16:21:00,FAMILY,0.0,0.0,0.0,1.0,NOT_FURNISHED,TWO_WHEELER,1000.0,10.0,1.0,N,0.0,1.0,1.0,CORP_BORE,IF,0.0,10000.0,True,False,True,False,False,True,False,True,False,False,False
20375,BHK2,Uttarahalli Hobli,2017-04-10 17:01:00,FAMILY,0.0,0.0,0.0,1.0,FULLY_FURNISHED,BOTH,1000.0,9.0,2.0,E,4.0,0.0,1.0,BOREWELL,IF,0.0,15000.0,True,False,False,False,False,True,False,True,False,False,True
20376,BHK2,JP Nagar,2017-02-12 11:18:00,FAMILY,0.0,0.0,0.0,0.0,SEMI_FURNISHED,TWO_WHEELER,900.0,12.0,2.0,E,2.0,0.0,1.0,CORP_BORE,IF,1.0,14000.0,False,False,False,False,False,False,False,True,False,False,False

In [237]:
df = df.drop(columns = ["latitude","longitude"],axis=1)

In [238]:
df = df.drop("amenities",axis = 1)

In [239]:
df = df.drop("vp",axis = 1)

In [240]:
df = df.drop("sc",axis = 1)

In [241]:
df = df.drop("fs",axis = 1)

In [242]:
df = df.drop("cpa",axis = 1)

In [243]:
df = df.drop("pool",axis = 1)

In [244]:
df = df.drop("pb",axis = 1)

In [245]:
df = df.drop("activation_date",axis = 1)

In [246]:
del df[df.columns[20]]

In [247]:
del df[df.columns[19]]

In [248]:
df

,type,locality,lease_type,swimming_pool,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,water_supply,building_type,balconies,rent,internet,ac,club,intercom,servant,security,gas_pipeline,park,rain_water_harvest,sewage_treat_plant,house_keeping
1,BHK2,Bellandur,ANYONE,0.0,1.0,SEMI_FURNISHED,BOTH,1400.0,4.0,2.0,NE,2.0,3.0,4.0,CORPORATION,AP,2.0,22000.0,False,False,False,False,False,False,False,True,False,False,False
2,BHK3,Thiruvanmiyur,FAMILY,0.0,0.0,SEMI_FURNISHED,BOTH,1350.0,6.0,3.0,E,3.0,1.0,5.0,CORP_BORE,AP,3.0,28000.0,False,False,False,False,False,False,False,False,False,False,False
3,BHK1,Attiguppe,FAMILY,0.0,1.0,SEMI_FURNISHED,TWO_WHEELER,600.0,3.0,1.0,E,1.0,1.0,2.0,CORPORATION,IH,0.0,8000.0,False,False,False,False,False,False,False,True,False,False,False
4,BHK3,Kodihalli,FAMILY,0.0,1.0,SEMI_FURNISHED,BOTH,1500.0,15.0,3.0,E,4.0,0.0,0.0,CORPORATION,IH,1.0,45000.0,False,False,True,False,False,True,False,False,False,False,False
5,BHK1,"Seetharampalya,Hoodi",FAMILY,1.0,1.0,SEMI_FURNISHED,BOTH,1080.0,0.0,2.0,E,1.0,3.0,5.0,CORP_BORE,AP,2.0,18000.0,True,True,True,True,True,True,False,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20372,BHK2,Rajaji Nagar,FAMILY,0.0,1.0,SEMI_FURNISHED,TWO_WHEELER,1300.0,10.0,1.0,N,1.0,0.0,2.0,CORP_BORE,IF,0.0,8500.0,True,False,False,False,False,True,True,True,False,False,True
20373,BHK2,Marathahalli,FAMILY,0.0,1.0,SEMI_FURNISHED,BOTH,1300.0,7.0,2.0,E,2.0,2.0,4.0,CORP_BORE,AP,1.0,22000.0,True,False,False,False,False,False,False,True,True,False,False
20374,BHK2,Uttarahalli,FAMILY,0.0,1.0,NOT_FURNISHED,TWO_WHEELER,1000.0,10.0,1.0,N,0.0,1.0,1.0,CORP_BORE,IF,0.0,10000.0,True,False,True,False,False,True,False,True,False,False,False
20375,BHK2,Uttarahalli Hobli,FAMILY,0.0,1.0,FULLY_FURNISHED,BOTH,1000.0,9.0,2.0,E,4.0,0.0,1.0,BOREWELL,IF,0.0,15000.0,True,False,False,False,False,True,False,True,False,False,True
20376,BHK2,JP Nagar,FAMILY,0.0,0.0,SEMI_FURNISHED,TWO_WHEELER,900.0,12.0,2.0,E,2.0,0.0,1.0,CORP_BORE,IF,1.0,14000.0,False,False,False,False,False,False,False,True,False,False,False

In [249]:
df['swimming_pool'] = df['swimming_pool'].astype('int')

In [250]:
df['negotiable'] = df['negotiable'].astype('int')

In [251]:
df['property_age'] = df['property_age'].astype('int')

In [252]:
df['bathroom'] = df['bathroom'].astype('int')

In [253]:
df['cup_board'] = df['cup_board'].astype('int')

In [254]:
df['floor'] = df['floor'].astype('int')

In [255]:
df['total_floor'] = df['total_floor'].astype('int')

In [256]:
df['balconies'] = df['balconies'].astype('int')

In [257]:
df

,type,locality,lease_type,swimming_pool,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,water_supply,building_type,balconies,rent,internet,ac,club,intercom,servant,security,gas_pipeline,park,rain_water_harvest,sewage_treat_plant,house_keeping
1,BHK2,Bellandur,ANYONE,0,1,SEMI_FURNISHED,BOTH,1400.0,4,2,NE,2,3,4,CORPORATION,AP,2,22000.0,False,False,False,False,False,False,False,True,False,False,False
2,BHK3,Thiruvanmiyur,FAMILY,0,0,SEMI_FURNISHED,BOTH,1350.0,6,3,E,3,1,5,CORP_BORE,AP,3,28000.0,False,False,False,False,False,False,False,False,False,False,False
3,BHK1,Attiguppe,FAMILY,0,1,SEMI_FURNISHED,TWO_WHEELER,600.0,3,1,E,1,1,2,CORPORATION,IH,0,8000.0,False,False,False,False,False,False,False,True,False,False,False
4,BHK3,Kodihalli,FAMILY,0,1,SEMI_FURNISHED,BOTH,1500.0,15,3,E,4,0,0,CORPORATION,IH,1,45000.0,False,False,True,False,False,True,False,False,False,False,False
5,BHK1,"Seetharampalya,Hoodi",FAMILY,1,1,SEMI_FURNISHED,BOTH,1080.0,0,2,E,1,3,5,CORP_BORE,AP,2,18000.0,True,True,True,True,True,True,False,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20372,BHK2,Rajaji Nagar,FAMILY,0,1,SEMI_FURNISHED,TWO_WHEELER,1300.0,10,1,N,1,0,2,CORP_BORE,IF,0,8500.0,True,False,False,False,False,True,True,True,False,False,True
20373,BHK2,Marathahalli,FAMILY,0,1,SEMI_FURNISHED,BOTH,1300.0,7,2,E,2,2,4,CORP_BORE,AP,1,22000.0,True,False,False,False,False,False,False,True,True,False,False
20374,BHK2,Uttarahalli,FAMILY,0,1,NOT_FURNISHED,TWO_WHEELER,1000.0,10,1,N,0,1,1,CORP_BORE,IF,0,10000.0,True,False,True,False,False,True,False,True,False,False,False
20375,BHK2,Uttarahalli Hobli,FAMILY,0,1,FULLY_FURNISHED,BOTH,1000.0,9,2,E,4,0,1,BOREWELL,IF,0,15000.0,True,False,False,False,False,True,False,True,False,False,True
20376,BHK2,JP Nagar,FAMILY,0,0,SEMI_FURNISHED,TWO_WHEELER,900.0,12,2,E,2,0,1,CORP_BORE,IF,1,14000.0,False,False,False,False,False,False,False,True,False,False,False

In [258]:
df.to_csv("cleaned_house_rent_train.csv",index=False)

## 2. Exploratory Data Analysis

### 1. Correlation Analysis:

- How does the number of bedrooms and bathrooms affect the rent price?
- Is there a correlation between the property size and rent price?
- Do properties with more amenities tend to have higher rent

In [502]:
df['bathroom'].corr(df['rent'])

0.6768188932579929

In [503]:
df['property_size'].corr(df['rent'])

0.5799225094919402

In [509]:
df['property_age'].corr(df['rent'])

-0.012534669634886229

## 3. Encode the Data

In [329]:
house = pd.read_csv("cleaned_house_rent_train.csv")

In [330]:
house

,type,locality,lease_type,swimming_pool,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,water_supply,building_type,balconies,rent,internet,ac,club,intercom,servant,security,gas_pipeline,park,rain_water_harvest,sewage_treat_plant,house_keeping
0,BHK2,Bellandur,ANYONE,0,1,SEMI_FURNISHED,BOTH,1400.0,4,2,NE,2,3,4,CORPORATION,AP,2,22000.0,False,False,False,False,False,False,False,True,False,False,False
1,BHK3,Thiruvanmiyur,FAMILY,0,0,SEMI_FURNISHED,BOTH,1350.0,6,3,E,3,1,5,CORP_BORE,AP,3,28000.0,False,False,False,False,False,False,False,False,False,False,False
2,BHK1,Attiguppe,FAMILY,0,1,SEMI_FURNISHED,TWO_WHEELER,600.0,3,1,E,1,1,2,CORPORATION,IH,0,8000.0,False,False,False,False,False,False,False,True,False,False,False
3,BHK3,Kodihalli,FAMILY,0,1,SEMI_FURNISHED,BOTH,1500.0,15,3,E,4,0,0,CORPORATION,IH,1,45000.0,False,False,True,False,False,True,False,False,False,False,False
4,BHK1,"Seetharampalya,Hoodi",FAMILY,1,1,SEMI_FURNISHED,BOTH,1080.0,0,2,E,1,3,5,CORP_BORE,AP,2,18000.0,True,True,True,True,True,True,False,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19192,BHK2,Rajaji Nagar,FAMILY,0,1,SEMI_FURNISHED,TWO_WHEELER,1300.0,10,1,N,1,0,2,CORP_BORE,IF,0,8500.0,True,False,False,False,False,True,True,True,False,False,True
19193,BHK2,Marathahalli,FAMILY,0,1,SEMI_FURNISHED,BOTH,1300.0,7,2,E,2,2,4,CORP_BORE,AP,1,22000.0,True,False,False,False,False,False,False,True,True,False,False
19194,BHK2,Uttarahalli,FAMILY,0,1,NOT_FURNISHED,TWO_WHEELER,1000.0,10,1,N,0,1,1,CORP_BORE,IF,0,10000.0,True,False,True,False,False,True,False,True,False,False,False
19195,BHK2,Uttarahalli Hobli,FAMILY,0,1,FULLY_FURNISHED,BOTH,1000.0,9,2,E,4,0,1,BOREWELL,IF,0,15000.0,True,False,False,False,False,True,False,True,False,False,True
19196,BHK2,JP Nagar,FAMILY,0,0,SEMI_FURNISHED,TWO_WHEELER,900.0,12,2,E,2,0,1,CORP_BORE,IF,1,14000.0,False,False,False,False,False,False,False,True,False,False,False

In [331]:
from sklearn.preprocessing import LabelEncoder

lb = LabelEncoder()
house['type'] = lb.fit_transform(house['type'])

In [332]:
# # Assuming you have already applied label encoding
# from sklearn.preprocessing import LabelEncoder

# lb = LabelEncoder()
# df['type'] = lb.fit_transform(df['type'])

# Display the mapping between original categories and numerical labels
label_mapping = dict(zip(lb.classes_, lb.transform(lb.classes_)))
print("Label Mapping:")
print(label_mapping)

Label Mapping:
{'BHK1': 0, 'BHK2': 1, 'BHK3': 2, 'BHK4': 3, 'BHK4PLUS': 4, 'RK1': 5}

In [333]:
from sklearn.preprocessing import LabelEncoder

lb = LabelEncoder()
house['locality'] = lb.fit_transform(house['locality'])

# Display the mapping between original categories and numerical labels
label_mapping = dict(zip(lb.classes_, lb.transform(lb.classes_)))
print("Label Mapping:")
print(label_mapping)

Label Mapping:

In [334]:
house['lease_type'].value_counts()

FAMILY      9566
ANYONE      9032
BACHELOR     544
COMPANY       55
Name: lease_type, dtype: int64

In [335]:
house['furnishing'].value_counts()

SEMI_FURNISHED     16759
NOT_FURNISHED       1335
FULLY_FURNISHED     1103
Name: furnishing, dtype: int64

In [310]:
House['parking'].value_counts()

BOTH            10091
TWO_WHEELER      6761
FOUR_WHEELER     1364
NONE              981
Name: parking, dtype: int64

In [336]:
house['facing'].value_counts()

E     8898
N     5581
W     2433
S     1143
NE     765
SE     184
NW     136
SW      57
Name: facing, dtype: int64

In [337]:
from sklearn.preprocessing import LabelEncoder

lb = LabelEncoder()
house['facing'] = lb.fit_transform(house['facing'])

# Display the mapping between original categories and numerical labels
label_mapping = dict(zip(lb.classes_, lb.transform(lb.classes_)))
print("Label Mapping:")
print(label_mapping)

Label Mapping:
{'E': 0, 'N': 1, 'NE': 2, 'NW': 3, 'S': 4, 'SE': 5, 'SW': 6, 'W': 7}

In [338]:
house['water_supply'].value_counts()

CORP_BORE      10020
CORPORATION     6279
BOREWELL        2898
Name: water_supply, dtype: int64

In [339]:
house['building_type'].value_counts()

IF    8674
AP    8279
IH    2227
GC      17
Name: building_type, dtype: int64

In [340]:
from sklearn.preprocessing import LabelEncoder

lb = LabelEncoder()
house['building_type'] = lb.fit_transform(house['building_type'])

# Display the mapping between original categories and numerical labels
label_mapping = dict(zip(lb.classes_, lb.transform(lb.classes_)))
print("Label Mapping:")
print(label_mapping)

Label Mapping:
{'AP': 0, 'GC': 1, 'IF': 2, 'IH': 3}

In [341]:
house['lease_type'] = house['lease_type'].map({'FAMILY':3,'ANYONE':1,'BACHELOR':0,'COMPANY':2})
house['furnishing'] = house['furnishing'].map({'SEMI_FURNISHED':1,'NOT_FURNISHED':0,'FULLY_FURNISHED':2})
house['parking'] = house['parking'].map({'BOTH':3,'TWO_WHEELER':1,'FOUR_WHEELER':2,'NONE':0})
house['water_supply'] = house['water_supply'].map({'CORP_BORE':1,'CORPORATION':0,'BOREWELL':2})

In [344]:
house['internet'] = house['internet'].astype(int)
house['ac'] = house['ac'].astype(int)
house['club'] = house['club'].astype(int)
house['intercom'] = house['intercom'].astype(int)
house['servant'] = house['servant'].astype(int)
house['security'] = house['security'].astype(int)
house['gas_pipeline'] = house['gas_pipeline'].astype(int)
house['park'] = house['park'].astype(int)
house['rain_water_harvest'] = house['rain_water_harvest'].astype(int)
house['sewage_treat_plant'] = house['sewage_treat_plant'].astype(int)
house['house_keeping'] = house['house_keeping'].astype(int)

In [345]:
House['ac'].value_counts(normalize=True)

False    0.957441
True     0.042559
Name: ac, dtype: float64

In [346]:
house

,type,locality,lease_type,swimming_pool,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,water_supply,building_type,balconies,rent,internet,ac,club,intercom,servant,security,gas_pipeline,park,rain_water_harvest,sewage_treat_plant,house_keeping
0,1,359,1,0,1,1,3,1400.0,4,2,2,2,3,4,0,0,2,22000.0,0,0,0,0,0,0,0,1,0,0,0
1,2,1621,3,0,0,1,3,1350.0,6,3,0,3,1,5,1,0,3,28000.0,0,0,0,0,0,0,0,0,0,0,0
2,0,218,3,0,1,1,1,600.0,3,1,0,1,1,2,0,3,0,8000.0,0,0,0,0,0,0,0,1,0,0,0
3,2,1013,3,0,1,1,3,1500.0,15,3,0,4,0,0,0,3,1,45000.0,0,0,1,0,0,1,0,0,0,0,0
4,0,1492,3,1,1,1,3,1080.0,0,2,0,1,3,5,1,0,2,18000.0,1,1,1,1,1,1,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19192,1,1387,3,0,1,1,1,1300.0,10,1,1,1,0,2,1,2,0,8500.0,1,0,0,0,0,1,1,1,0,0,1
19193,1,1161,3,0,1,1,3,1300.0,7,2,0,2,2,4,1,0,1,22000.0,1,0,0,0,0,0,0,1,1,0,0
19194,1,1661,3,0,1,0,1,1000.0,10,1,1,0,1,1,1,2,0,10000.0,1,0,1,0,0,1,0,1,0,0,0
19195,1,1662,3,0,1,2,3,1000.0,9,2,0,4,0,1,2,2,0,15000.0,1,0,0,0,0,1,0,1,0,0,1
19196,1,810,3,0,0,1,1,900.0,12,2,0,2,0,1,1,2,1,14000.0,0,0,0,0,0,0,0,1,0,0,0

## Machine Learning Model Building